*{
    padding: 0;
    margin: 0;
    line-height: 1.6em;
    box-sizing: border-box;
    margin: auto;
    font-size: 25px;
    font-weight: bold;
}

body{
    background-color: #587078;
}


#calculator{
    width: 350px ;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'textDiv textDiv textDiv textDiv'
    'textDiv textDiv textDiv textDiv'
    '_ac _c _changeSymbol _divide'
    '7 8 9 _multiply'
    '4 5 6 _minus'
    '1 2 3 _sum'
    '_point _0 _equal _equal' ;
    place-items: center;
    grid-gap: 1px px;
    border: black 8px solid;
    background-color: black;
    border-radius: 1rem;
}


#textDiv{grid-area: textDiv;}
#textUp{grid-area: _textUp;}
#textDown{grid-area: _textDown;}
#ac{grid-area: _ac;}
#c{grid-area: _c;}
#changeSymbol{grid-area: _changeSymbol;} 
#divide{grid-area: _divide;} 
#multiply{grid-area: _multiply;}
#minus{grid-area: _minus;}
#sum{grid-area: _sum;}
#point{grid-area: _point;}
#equal{grid-area: _equal;}

#calculator > div{
    width: 100%;
    height: 100%;
    background-color:#54919f; 
    text-align: center;
    padding: 15px;
    border: black solid 5px;
    border-radius: 25%;
}



#calculator #textDown{
    height: 40px;
    font-size: 1.5rem;
    padding-right: 10px;
    margin-top: -1px;
    padding-bottom: 55px;
}

#calculator #textUp{
    height: 45px;
    font-size: 1.2rem;
    padding-right: 10px;
    color:#b9ccd1;;
} 

#calculator #textDiv{
    text-align: right;
    background-color: #26393e;
    color: white;
    border: 5px solid black;
    border-radius: 1rem;
}

#calculator #equal{
    border-radius: 1rem;
}
